<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    
    <span class="nav-tool-items">
      <a mat-button routerLink="addchat" routerLinkActive="active">add chat</a>
      <a mat-button routerLink="chats" routerLinkActive="active">chats</a>
      <a mat-button routerLink="hotplace" routerLinkActive="active">hot</a>
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>
  <router-outlet></router-outlet>